<!DOCTYPE html>
<html lang="en">
<head>
   
    <style>
       table {
           width: 400px;
           border-collapse: collapse; 
       }
      /* table, th, td {
           border: 1px solid black;
       }
       th, td {
           padding: 10px;
       }*/
   </style>
</head>
<table class = "table">
<tr>
<td>
<div class="table" id="calendar"> </div>
</td></tr></table>
</html>


<%= link_to 'Back' , root_path %>